# Archivos de configuración sensibles
.env

# __pycache__ y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Archivos temporales y logs
*.log
*.tmp
*.bak

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de desarrollo o pruebas
.idea/
.vscode/
*.swp

docs/
instance/firma.db
instance/firma_bak.db